<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85861921538-l4q53b8qnvs60todisju07sc6v6o4647.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85861921538-l4q53b8qnvs60todisju07sc6v6o4647</string>
	<key>API_KEY</key>
	<string>AIzaSyB9fYOlxXqCTbx9e3NgNw8V0uPKB6QlA3U</string>
	<key>GCM_SENDER_ID</key>
	<string>85861921538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toqueat.iosapp</string>
	<key>PROJECT_ID</key>
	<string>toqueat</string>
	<key>STORAGE_BUCKET</key>
	<string>toqueat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85861921538:ios:7e9ea671b8b5fb6e</string>
	<key>DATABASE_URL</key>
	<string>https://toqueat.firebaseio.com</string>
</dict>
</plist>